table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-of-type(odd) {
  background-color: var(--purple-dark);
}

td:last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

tr, td .button {
  border: none;
}

td .button {
  background-color: red;
  color: var(--text-color-neutral);
  border-radius: 0.5em;
  cursor: pointer;
}