table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-of-type(odd) {
  background-color: var(--purple-dark);
}

tr, td button {
  border: none;
}

td button {
  background-color: red;
  color: var(--text-color-neutral);
  border-radius: 0.5em;
  cursor: pointer;
}