section {
  margin-block: 50px;
}

.error {
  background-color: #b30000;
  border-color: #cc0000;
}

.warning {
  background-color: #dc5618;
  border-color: #c54d16;
}

.success {
  background-color: #197619;
  border-color: #156115;
}

div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  margin-bottom: 25px;
  padding: 2em;
  width: 75%;
  border-style: solid;
  border-width: 0px 0px 0px 3em;
}
div.container svg {
  margin-right: 10px;
}