.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

#booking {
  width: 50%;
}

label, input {
  font-size: 1rem;
}

input {
  width: 100%;
  color: var(--text-color-neutral);
  display: block;
  border-radius: 0.5em;
  margin-top: 1em;
}

input[value="ROC Kop van Noord-Holland"]:checked > select#rockopnh {
  display: block;
}

input[value="Regius College"]:checked > select#regius {
  display: block;
}

select {
  display: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #booking {
    width: 80%;
  }
}