input {
  color: var(--text-color-neutral);
  border: none;
}

input[required]::after {
  content: "*";
}

.loginpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.signup, .login {
  background-color: var(--highlight-1-dark);
}