html {
	height: 100%;
}

main {
	height: calc(100vh - 80px);
	margin: 0;
	display: flex;
}

.bookings {
	border-collapse: collapse;
	width: 90%;
	float: right;
}

.bookings tr:nth-of-type(odd) {
	background-color: var(--purple-dark);
}

.bookings td {
	width: fit-content;
	text-align: center;
	padding-inline: 5px;
}

tr,
td .button {
	border: none
}

td .button {
	background-color: hsl(0, 100%, 50%);
	color: var(--text-color-neutral);
	border-radius: 0.5em;
	cursor: pointer;
}

.SideNavigation {
	min-width: fit-content;
	height: 100vh;
	position: sticky;
	top: 0;
	overflow-y: auto;
	color: var(--text-color);
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: green;

	.item {
		display: flex;
		position: relative;
		padding: 12px;
		font-size: 20px;
		cursor: pointer;
		align-items: center;
		border-left: 5px solid transparent;
		color: inherit;
		text-decoration: none;

		&:hover {
			background: var(--orange-dark);
		}

		&::after {
			font-family: "Material Icons";
			content: "\e5cc";
			visibility: hidden;
			margin-left: auto;
			font-size: 20px;
		}

		&.active {
			background: var(--orange);
		}

		&.active:hover {
			visibility: visible;
		}
	}
}

// .SideNavigation .item {
//     display: flex;
//     position: relative;
//     padding: 12px;
//     font-size: 20px;
//     cursor: pointer;
//     align-items: center;
//     border-left: 5px solid transparent;
//     color: inherit;
//     text-decoration: none;
// }

// .SideNavigation .item:hover {
//     background: var(--orange-dark);
// }

// .SideNavigation .item::after {
//     font-family: "Material Icons";
//     content: "\e5cc";
//     visibility: hidden;
//     margin-left: auto;
//     font-size: 20px;
// }

// .SideNavigation .item.active {
//     background: var(--orange);
// }

// .SideNavigation .item.active::after {
//     visibility: visible;
// }

.page-content {
	width: calc(100% - 200px);
	height: 100%;
	padding: 15px;
	margin: 0 0 0 200px;
	overflow-y: auto;
}