table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-of-type(odd) {
    background-color: var(--purple-dark);   
}

tr, td button {
    border: none
}

td button {
    background-color: hsl(0, 100%, 50%);
    color: var(--text-color-neutral);
    border-radius: 0.5em;
    cursor: pointer;
}