section {
    margin-block: 50px;
}

.error {
    background-color: hsl(0, 100%, 35%);
    border-color: hsl(0, 100%, 40%);
}

.warning {
    background-color: hsl(19, 80%, 48%);
    border-color: hsl(19, 80%, 43%);
}

.success {
    background-color: hsl(120, 65%, 28%);
    border-color: hsl(120, 65%, 23%);
}

div.container {
    display: flex;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 25px;
    padding: 2em;
    width: 75%;
    border-style: solid;
    border-width: 0px 0px 0px 3em;

    svg {
        margin-right: 10px;
    }
}