.booking {
    display: flex;
    place-content: center;
}

#booking {
    width: 70%;
}

h1 {
    text-align: center;
}

label,
input {
    font-size: 1rem;
    border: none;
}

input:not([type="radio"]) {
    width: 100%;
    color: var(--text-color-neutral);
    display: block;
    border-radius: .5em;
    margin-top: 1em;
}

select,
option {
    color: var(--text-color-neutral);
    border: none;
}

.userinput {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--purple-dark);
    padding: 2em;
    border-radius: .5em;

    .organisation,
    .contact {
        background-color: var(--purple-darker);
        width: 40%;
        padding: 2em;
        border-radius: .5em;

        h3 {
            text-align: center;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    place-content: center;

    h3 {
        text-align: center;
    }
    img {
        max-width: 90%;
        height: auto;
        object-fit: contain;
    }
}

.plus-minus-input {
    align-items: center;

    .input-group-field {
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 1rem;

        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    .input-group-button {
        .circle {
            border-radius: 50%;
            padding: 0.25em 0.8em;
        }
    }
}