.booking {
    display: flex;
    place-content: center;
}

#booking {
    width: 50%;
}

label,
input {
    font-size: 1rem;
    border: none;
}

input:not([type="radio"]) {
    width: 100%;
    color: var(--text-color-neutral);
    display: block;
    border-radius: .5em;
    margin-top: 1em;
}

select,
input#anders-antwoord {
    display: none;
    border-radius: .5em;
}

select,
option {
    background-color: var(--purple-dark);
    transition: background-color 100ms linear;
    font-family: 'Rubik', sans-serif;

    option:hover {
        background-color: var(--purple-light);
    }
}


div.questions
input[value="ROC Kop van Noord-Holland"]:checked
~ div.answers select#rockopnh {
    display: block;
}

div.questions
input[value="Regius College"]:checked
~ div.answers select#regius {
    display: block;
}

div.questions
input[value="anders-vraag"]:checked
~ div.answers input#anders-antwoord {
    display: block;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #booking {
        width: 80%
    }
}