.booking {
    display: flex;
    place-content: center;
}

#booking {
    width: 50%;
}

label, input {
    font-size: 1rem;
}

input {
    width: 100%;
    color: var(--text-color-neutral);
    display: block;
    border-radius: .5em;
    margin-top: 1em;
}

select {
    display: none;
}

select, option {
    background-color: var(--purple-dark);
    transition: background-color 100ms linear;

    option:hover {
        background-color: var(--purple-light);
    }
}

input[value="ROC Kop van Noord-Holland"]:checked ~ select#rockopnh {
    display: block;
}

input[value="Regius College"]:checked ~ select#regius {
    display: block;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #booking {
        width: 80%
    }
}