input {
    color: var(--text-color-neutral);
    border: none;
}

input[required]::after {
    content: "*";
}

.loginpage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.signup, .login {
    background-color: var(--orange-dark);
}