@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ICON SIZES */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* ICON SIZES END */

:root {
    --bg-color: rgb(16, 0, 72);
    --text-color: white;
    --hili-1: rgb(149, 191, 11);
    --hili-1-dark: rgb(226, 128, 36);
}

body {
    margin: 0;
    min-height: 100%;
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
}

* {
    color: var(--text-color);
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a,
    a:focus {
        font-size: 1rem;
        text-decoration: none;
        background-color: var(--hili-1);
        padding: 1em;
        border-radius: .5em;
        box-shadow: .25em .25em var(--hili-1-dark);
        transition: box-shadow 100ms linear, transform 100ms linear;
        transform: none;
    }
    a:hover,
    a:focus:hover {
        box-shadow: .6em .6em var(--hili-1-dark);
        transform: translate(-.2em,-.2em);
    }
    a.active {
        box-shadow: .6em .6em var(--hili-1-dark);
        transform: translate(-.2em,-.2em);
    }
}

main {
    margin: 0px 7vw;
    background-color: orange;
    height: 100vh;
}

footer {
    height: none;
}